ul {
	list-style-type: none;
	padding: 0px;
	margin: 20px;
}

ul a {

	/*TEXTO*/
	text-decoration: none;
	color: black;
	font-weight: bold;

	/*CAIXA*/
	display: block;
	width: 200px;
	height: 40px;
	text-indent: 40px; /*IDENTA O TEXTO PARA OS PIXELS DESEJADOS*/
	line-height: 40px; /*TORNA O TAMANHO DA LINHA A MESMA ALTURA DO BLOCO, CENTRALIZANDO O TEXTO*/

	/*FUNDO*/
	background: #f7b600 url(../imagens/menu.png);
}

ul a:hover, .menu-selecionado a {

	color: white;
	background: #f99200 url(../imagens/menu.png) no-repeat right center;

}

ul a:active {
	color: black;
}